body{
    margin: 0;
}
h1,h2,h3,h4,h5{
    color: red;
}

/* navbar */
.navbar-brand{
    padding: 10px;
}

.navbar{
    padding: 0 !important;
}

.nav-link{
    color: red !important;
    margin-right: 10px !important;
    margin-left: 10px; 
}

.active{
    color: white !important;
    background-color: red;
}

.my-row{
    margin-top: 3rem;
}

.my-col{
    background-color: red;
}
/* Our work */
.project-item{
    margin-bottom: 4rem;
}
.work-row{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 15px;
    background-color: #F6F6F6;
}

.work-a{
    padding-top: 50%;
}

/* footer */

footer{
    background-color: black;
    color: white;

}